@media (min-width: 100px) {
    
   
    .logo-home-link-img{
        position: relative;
        margin: 10px;
        width: 168px;
        height: auto;
        transition: all 0.2s ease;
    }

    .profile-menu-container{
        position: relative;
        margin-left: auto;
        margin-right: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 22px;

    }

    .profile-pic{
        width: 52px;
        height: 52px;
        transition: all 0.2s ease;
    }

    .menu-link{
        width: 30px;
        height: auto;
        transition: all 0.2s ease;
    }

    .menu-link:hover, .profile-pic:hover, .logo-home-link-img:hover{
        filter: brightness(110%);
    }
    .menu-link:active, .profile-pic:active, .logo-home-link-img:active{
        filter: brightness(90%);
    }

    
    .arrow-back-container{
        position: relative;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        transition: all 0.2s ease;
    }

    .arrow-back-icon{
        transition: all 0.2s ease;
    }

    .container-name-of-page-flag{
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
    }

    .page-name{
        width: 283px;
        position: relative;
        color: #5C0002;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0px;
        transition: all 0.2s ease;
        cursor: pointer;
    }

    .arrow-back-container:hover{
        filter:brightness(110%);
    }

    .arrow-back-container:active{
        filter: brightness(90%);
    }

    .choose-avliable-ingredients-text{
        position: relative;
        color: #5C0002;
        font-size: 22px;
        font-weight: 700;
        margin-top: 12px;
        margin-left: 15px;
        margin-bottom: 0px;
    }

    .fridge-container{
        position: relative;
        display: flex;
        margin: 0 auto;
        margin-bottom: 64px;
        justify-content: center;
        max-width: 361px;
        min-height: 662px;
        background-image: url(../img/cook-from-fridge-fridge-photo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .avliable-ingredients-form{
        position: absolute;
        top: 34px;
        left: 24px;
    }

    .elements-container{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .avliable-ingredients-textarea{
        position: relative;
        width: 245px;
        height: 135px;
        background: rgba(255, 255, 255, 0.66);
        border: 0px solid transparent;
        border-radius: 12px;
        padding: 14px;
        color: #5C0002;
        font-size: 15px;
        font-weight: 500;
    }

    .search-btn{
        position: relative;
        display: flex;
        margin-left: auto;
        background: #FFDDDD;
        color: #B70004;
        font-size: 16px;
        font-weight: 800;
        padding: 10px 38px;
        border-radius: 8px;
        border: 0px solid transparent;
        transition: all 0.2s ease;
    }

    .search-btn:hover{
        filter: brightness(110%);
    }

    .search-btn:active{
        filter: brightness(90%);
    }


}

@media (min-width: 576px){

    .fridge-container{
        position: relative;
        margin-top: 100px;
        width: 55%;
        min-height: 682px;
        margin-bottom: 0px;
    }

}



@media (min-width: 768px){
    .fridge-container{
        position: relative;
        margin-top: 100px;
        width: 55%;
        min-height: 682px;
        margin-bottom: 0px;
    }
}


@media (min-width: 992px) {
    .navbar{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    
    .fridge-container{
        position: relative;
        width: 30%;
        min-height: 682px;
    }


}

